body{
    width: 100%;
    margin: 0;
    position: relative;
}
a {
    color: white;
    text-decoration: none;
}

/*About-Us-Start*/

.about-us-wrapper{
    width: 100%;
    background-color: #141313;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 100px;
}

.about-us{
    max-width: 1200px;
    margin: 0px auto;
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-repeat: no-repeat;
    background-position: right;
}



.about-us-title{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 170%;
    color: #FFFFFF;
}

.about-us-text-info{
    max-width: 370px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 170%;
    color: #FFFFFF;
}

.about-us-text{
    max-width: 500px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 170%;
    color: #FFFFFF;
}

.about-us-button-wrapper{
    display: flex;
}

.about-us-button-wrapper:after{
    content: url("../images/front-page/arrow-down.svg");
    margin-left: 16px;
}


.about-us-button:hover{
    background: linear-gradient(0deg, #EC7505 26%, #141313 36%);
}


.about-us-button{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    border: 0px solid;
    cursor: pointer;
}

.about-us-img{
    max-width: 600px;
    padding-right: 20px;
}

/*About-Us-End*/

/*Service-wrapper-Start*/

.service-wrapper{
    width: 100%;
    position: relative;
}

.service{
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

.anchor-service h2{
    padding: 0;
    margin: 0;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 170%;
    color: #141313;
}

.anchor-service ul {
    margin-left: 0;
    padding: 0;
}

.anchor-service ul li{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 170%;
    color: #141313;
    margin-bottom: 5px;
    list-style: none;
}

.anchor-service{
    max-width: 40%;
    position: sticky;
    top: 0;
    height: 400px;
}

.card-container{
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.card{
    max-width: 100%;
    border-top: 10px solid #EC7505;
    padding: 60px 50px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.card-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;

}

.card-title{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 170%;
    color: #141313;
    margin-bottom: 74px;
}

.card-block-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: 45px;
}

.card-button{
    width: 214px;
    height: 58px;
    background: #FFFFFF;
    border: 1px solid #EC7505;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #141313;
    cursor: pointer;
    box-shadow: rgb(236, 117, 5) 18px 18px 0px 1px;
}

.card-wrapper-info{
    margin-left: 20px;
}

.card-point{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 25px;
    border-bottom: 1px solid #808080;
    margin-bottom: 56px;
}

.point-first{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #141313;
    margin-right: 30px;
    color: #FFFFFF;
    padding: 0 20px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 170%;
    color: #FFFFFF;
    height: 40px;
}


.point-first p{
    margin-bottom: 5px;
}

.point{
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0 37px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 170%;
    color: #141313;
    height: 40px;
}

.point-last{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 37px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 170%;
    color: #141313;
    height: 40px;
}

.card-point-info p{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 170%;
    color: #141313;
}

.anchor-service ul li:before{
    content: url("../images/header/nav-point.svg");
    margin-right: 10px;
    display: none;
}

.anchor-service ul li:hover:before{
    display: inline-block;
}



/*Service-wrapper-End*/


/*Portfolio-wrapper-Start*/


.portfolio{
    width: 100%;
    background-color: #141313;
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-wrapper{
    max-width: 1400px;
    display: flex;
    margin: 0px auto;
    flex-direction: column;
}

.portfolio-wrapper h2{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 170%;
    color: #FFFFFF;
}

.portfolio-card-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.portfolio-card{
    position: relative;
    background-image: url("../images/cases/boostcraft/Boostcraft-1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 400px;
    height: 530px;
    margin-bottom: 45px;
    transition: all .7s;
    cursor: pointer;
}

.portfolio-card-2{
    position: relative;
    background-image: url("../images/cases/okna/Окна-1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 400px;
    height: 530px;
    margin-bottom: 45px;
    transition: all .7s;
    cursor: pointer;
}

.portfolio-card-3{
    position: relative;
    background-image: url("../images/cases/tbi/The British Investor-1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 400px;
    height: 530px;
    margin-bottom: 45px;
    transition: all .7s;
    cursor: pointer;
}

.portfolio-card-4{
    position: relative;
    background-image: url("../images/cases/spell/Spell-1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 400px;
    height: 530px;
    margin-bottom: 45px;
    transition: all .7s;
    cursor: pointer;
}

.portfolio-card-5{
    position: relative;
    background-image: url("../images/cases/картули/Картули-1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 400px;
    height: 530px;
    margin-bottom: 45px;
    transition: all .7s;
    cursor: pointer;
}

.portfolio-card-6{
    position: relative;
    background-image: url("../images/cases/dhouse/Dream house-1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 400px;
    height: 530px;
    margin-bottom: 45px;
    transition: all .7s;
    cursor: pointer;
}

.portfolio-card img{
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 10;
}

.portfolio-card-2 img{
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 10;
}
.portfolio-card-3 img{
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 10;
}
.portfolio-card-4 img{
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 10;
}
.portfolio-card-5 img{
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 10;
}
.portfolio-card-6 img{
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 10;
}


.portfolio-card-text{
    padding: 0;
    margin: 0;
    position: absolute;
    left: 30px;
    bottom: 30px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 170%;
    text-align: center;
    color: #FFFFFF;
}

.portfolio-card-text-hover{
    position: relative;
    display: none;
    height: 100%;
    padding: 0px 20px;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 170%;
    text-align: center;
    color: #FFFFFF;
    z-index: 10;
}

.dark-mode{
    width: 100%;
    height: 100%;
    position: absolute;
    background: #141313ad;
    z-index: 1;
    display: none;
}

.portfolio-card:hover .dark-mode{
    display: block;
}

.portfolio-card:hover .portfolio-card-text-hover{
    display: flex;
}

.portfolio-card:hover{
    transform: scale(1.05);
    background-size: 120%;
}

/*Portfolio-2*/
.portfolio-card-2:hover .dark-mode{
    display: block;
}

.portfolio-card-2:hover .portfolio-card-text-hover{
    display: flex;
}

.portfolio-card-2:hover{
    transform: scale(1.05);
    background-size: 120%;
}

/*Portfolio-3*/
.portfolio-card-3:hover .dark-mode{
    display: block;
}

.portfolio-card-3:hover .portfolio-card-text-hover{
    display: flex;
}

.portfolio-card-3:hover{
    transform: scale(1.05);
    background-size: 120%;
}

/*Portfolio-4*/
.portfolio-card-4:hover .dark-mode{
    display: block;
}

.portfolio-card-4:hover .portfolio-card-text-hover{
    display: flex;
}

.portfolio-card-4:hover{
    transform: scale(1.05);
    background-size: 120%;
}

/*Portfolio-5*/
.portfolio-card-5:hover .dark-mode{
    display: block;
}

.portfolio-card-5:hover .portfolio-card-text-hover{
    display: flex;
}

.portfolio-card-5:hover{
    transform: scale(1.05);
    background-size: 120%;
}

/*Portfolio-6*/
.portfolio-card-6:hover .dark-mode{
    display: block;
}

.portfolio-card-6:hover .portfolio-card-text-hover{
    display: flex;
}

.portfolio-card-6:hover{
    transform: scale(1.05);
    background-size: 120%;
}


/*Portfolio-wrapper-End*/


/*faq-wrapper-Start*/

.faq{
    width: 100%;
}

.faq-wrapper{
    max-width: 1440px;
    display: flex;
    margin: 0px auto;
    margin-top: 120px;
    padding-bottom: 90px;
}

.faq-title{
    width: 30%;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 170%;
    color: #141313;
}

.faq-title p{
    padding: 0;
    margin: 0;
}

.faq-info-wrapper{
    width: 70%;
}

.faq-info{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #808080;
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.faq-info-top-title{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 170%;
    color: #141313;

}

.faq-text{
    display: none;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 170%;
    color: #141313;
    width: 75%;
    margin-top: 20px;
}

.faq-info-top-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-info-button{
    cursor: pointer;
    width: 77px;
    height: 77px;
    border: 1px solid #808080;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    transition: background-color .5s;
}
.faq-button-cancel{
    display: none;
    cursor: pointer;
    width: 77px;
    height: 77px;
    border: 1px solid #EC7505;
    background-color: #EC7505;
    margin-right: 20px;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    transition: background-color .5s;
}
.faq-button-cancel img{
    transform: rotate(45deg);
    transition: transform .5s;
}
.faq-button-cancel img{
    transition: transform .5s;
}

/*faq-wrapper-End*/



/*advantages-Start*/

.advantages{
    width: 100%;
    background: #141313;
    padding-bottom: 83px;
    margin-bottom: 130px;
}

.advantages-wrapper{
    max-width: 1200px;
    margin: 0px auto;
}

.advantages-description{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.advantages-title{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 170%;
    color: #FFFFFF;
}

.advantages-mini-title{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 170%;
    color: #FFFFFF;
}

.advantages-wrapper-info{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.advantages-calc-title{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 170%;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.advantages-images{
    width: 149px;
    height: 40px;
}

.advantages-calc-text{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 170%;
    color: #FFFFFF;
}

.advantages-wrapper-text{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.advantages-text{
    text-align: left;
    max-width: 800px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 170%;
    color: #FFFFFF;
    margin-top: 40px;
}

/*advantages-End*/

/*team-Start*/

.team{
    width: 100%;
}

.team-wrapper{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    align-items: flex-end;
    justify-content: flex-end;
}

.team-wrapper-title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.team-title{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 170%;
    color: #141313;
    margin: 0;
    padding: 0;
}

.team-title-text{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 170%;
    color: #141313;
    margin: 0;
    padding: 0;
}

.team-case-wrapper{
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 90px;
}

.team-case-position{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 170%;
    color: #141313;
    padding: 0;
    margin: 0;
}

.team-case{
    margin-bottom: 30px;
}


.team-case-image{
    position: relative;
    max-width: 319px;
    height: 465px;
}

.team-case-name{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 170%;
    color: #141313;
    padding: 0;
    margin: 0;
    z-index: 2;
}

.team-case-hover{
    display: none;
    position: absolute;
    bottom: 20px;
    left: 10px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 170%;
    color: #FFFFFF;
    z-index: 3;
    padding: 0 10px;
}


.dark-mode-team{
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #141313ad;
    z-index: 1;
    display: none;
}

.team-case-image img{
    width: 319px;
    height: 463px;
    image-rendering: -moz-crisp-edges; /* Firefox */
    -ms-interpolation-mode: nearest-neighbor;  /* IE */
    image-rendering: crisp-edges; /* Стандартное свойство */
    object-fit: cover;
}

.team-case-image::after{
    content: '';
    height: 10px;
    width: 319px;
    background: #EC7505;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
}

.team-case:hover .dark-mode-team{
    display: block;
}

.team-case:hover .team-case-image::after{
    display: block;
}

.team-case:hover .team-case-hover{
    display: inline-block;
}

.team-case:nth-child(3n+2){
    margin-right: 15px;
}

/*team-End*/



/*Question-Start*/

.feedback-wrapper{
    width: 100%;
    background-color: #141313;
    margin-bottom: 100px;
}

.feedback{
    max-width: 1200px;
    padding-top: 50px;
    padding-bottom: 135px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.feedback-title{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 170%;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
}

.feedback-image{
    width: 50%;
}

.feedback-image img{
    width: 100%;
}

.feedback-form{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.feedback-form form{
    display: flex;
    flex-direction: column;
}
.feedback-form form input{
    background: #141313;
    border: 0px;
    border-bottom: 1px solid #808080;
    outline: none;
    padding: 0px 0px 15px 0px;
    margin-bottom: 80px;
    color: #FFFFFF;
}

.feedback-form form textarea{
    background: #141313;
    border: 0px;
    border-bottom: 1px solid #808080;
    outline: none;
    color: #FFFFFF;
    margin-bottom: 65px;
    height: 115px;
    resize: vertical;
}

.feedback-card-button{
    width: 100%;
    height: 58px;
    background: #FFFFFF;
    border: 1px solid #EC7505;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #141313;
    cursor: pointer;
    box-shadow: rgb(236, 117, 5) 18px 18px 0px 1px;
}

.feedback-form form input::placeholder{
    font-size: 18px;
}
.feedback-form form textarea::placeholder{
    font-size: 18px;
}


/*Question-End*/

/*Technology-Start*/

.technology-wrapper{
    width: 100%;
}

.technology{
    max-width: 1200px;
    margin: 0px auto;
}

.technology-title{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    padding-left: 20px;
    line-height: 170%;
    color: #141313;
}

.technology-case-wrapper{
    max-width: 1200px;
    padding: 0px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 100px;
}

.technology-case img{
    max-width: 120px;
    max-height: 67px;
}

.technology-case p{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 170%;
    text-transform: uppercase;
    color: #141313;
}

.technology-case__img{
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.technology-case{
    width: 195px;
    height: 150px;
    padding: 20px 20px;
    border-top: 5px solid #EC7505;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.34);
    -moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.34);
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.34);
    margin: 0px auto;
    margin-bottom: 30px;
}

/*Technology-End*/




@media (max-width: 1440px) {

    .anchor-service {
        padding: 30px;
    }


    .portfolio-wrapper h2 {
        padding-left: 20px;
    }



    .portfolio-wrapper {
        max-width: 1200px;
    }

    .portfolio-card {
        width: 370px;
    }

    .portfolio-card-2{
        width: 370px;
    }

    .portfolio-card-3{
        width: 370px;
    }

    .portfolio-card-4{
        width: 370px;
    }

    .portfolio-card-5{
        width: 370px;
    }

    .portfolio-card-6{
        width: 370px;
    }

    .faq-wrapper {
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .faq-title {
        width: 100%;
    }

    .faq-title p {
        padding: 0 20px;
        margin: 0;
    }

    .advantages-description {
        justify-content: space-around;
    }

    .advantages-wrapper-info {
        justify-content: space-around;
    }

    .team-title {
        padding-left: 20px;
    }

    .team-title-text {
        padding-right: 20px;
    }

    .team-case-wrapper {
        padding: 0px 20px;
    }

    .feedback-image {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .feedback-form {
        width: 40%;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
    }

    .feedback-title {
        line-height: 130%;
    }

    .footer-wrapper {
        justify-content: space-around;
    }

}

@media (max-width: 1200px) {

    .card-block-top img{
        max-width: 290px;
    }

    .card-container {
        width: 60%;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
    }


    .about-us {
        padding: 20px 30px;
    }

    .advantages-description {
        align-items: flex-start;
        padding-left: 20px;
        flex-direction: column;
    }

    .technology-case-wrapper {

    }


}

@media (max-width: 1024px) {

    .service {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .anchor-service {
        max-width: 100%;
        position: relative;
        height: auto;
    }

    .card-container {
        width: 95%;
        padding-right: 0px;
    }

    .about-us {
        flex-direction: column;
        height: auto;
    }

    .about-us__info{
        margin-bottom: 40px;
    }

    .about-us-text-info {
        max-width: 90%;
    }

    .about-us-text {
        max-width: 90%;
        font-family: Ubuntu;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 170%;
        color: #FFFFFF;
    }

    .anchor-service ul {
        display: flex;
    }

    .anchor-service ul li {
        line-height: unset;
        margin-right: 15px;
    }

    .faq-info-button {
        width: 55px;
        height: 40px;
    }

    .advantages-calc-title {
        font-size: 35px;
    }

    .advantages-images {
        display: none;
    }

    .advantages-wrapper-info{
        padding: 0 20px;
    }

    .advantages-wrapper-text {
        width: 90%;
        display: flex;
        justify-content: end;
        padding: 0 20px;
    }

    .advantages-calc-text {
        font-size: 15px;
    }

    .team-wrapper-title {
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
    }

    .team-title-text {
        padding-right: 0px;
        padding-left: 20px;
    }

    .team-case-wrapper {
        flex-wrap: wrap;
    }

    .team-case {
        margin-bottom: 15px;
    }

    .feedback {
        flex-direction: column;
    }

    .feedback-form {
        width: 90%;
    }

    .feedback-image {
        width: 100%;
        margin-top: 70px;
    }

    .technology-case {
        width: 174px;
        height: 155px;
    }


    .technology-case-wrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}

@media (max-width: 768px) {


    .header-block-info {
        display: flex;
        margin-bottom: 35px;
    }

    .header-block-title {
        padding-left: 20px;
        font-size: 45px;
        line-height: 35px;
    }

    .technology-case-wrapper {
        grid-template-columns: 1fr 1fr;
    }


}

@media (max-width: 650px) {


    .about-us-img {
        max-width: 440px;
        padding-right: 20px;
    }

    .anchor-service {
        padding: 10px;
    }

    .card-block-top {
        flex-direction: column;
    }

    .card-block-top img {
        max-width: 480px;
    }

    .anchor-service ul li {
        font-size: 20px;
    }

    .card-wrapper-info {
        margin-left: 0px;
    }

    .card-point {
        flex-direction: column;
    }

    .point-first{
        margin-right: 0px;
    }


    .point{
        border-left: 0px solid black;
        border-right: 0px solid black;

    }

    .card-button {
        width: 270px;
        margin: 0px auto;
    }

    .anchor-service ul {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }

}

@media (max-width: 500px) {

    .card-button {
        margin: inherit;
    }

    .anchor-service ul {
        display: flex;
        flex-wrap: wrap;
    }

    .anchor-service ul li{
        margin-right: 50px;
    }

    .about-us-img {
        max-width: 320px;
        padding-right: 20px;
    }

    .card-block-top {
        flex-direction: column;
    }

    .point-first {
        line-height: 100%;
        font-size: 15px;
        margin-right: 0px;
    }

    .point {
        line-height: 100%;
        font-size: 15px;
        border-left: 0px solid black;
        border-right: 0px solid black;
    }

    .point-last {
        line-height: 100%;
        font-size: 15px;
    }

    .card-point {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-bottom: 25px;
        border-bottom: 1px solid #808080;
        margin-bottom: 56px;
    }

    .faq-info p {
        font-family: Ubuntu;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 170%;
        color: #141313;
    }

    .faq-title {
        font-size: 45px;
    }

    .faq-info-button {
        width: 55px;
        height: 35px;
    }

    .advantages-title {
        font-size: 45px;
    }

    .advantages-wrapper-info {
        flex-direction: column;
    }

    .team-title {
        font-size: 45px;
    }

    .team-case-wrapper {
        justify-content: center;
    }

    .technology-title {
        font-size: 45px;
    }

}

@media (max-width: 450px) {

    .technology-case-wrapper {
        grid-template-columns: 1fr;
    }

    .feedback-card-button {
        width: 90%;
        height: 58px;
    }

    .portfolio-card {
        width: 300px;
    }
    .portfolio-card-2 {
        width: 300px;
    }
    .portfolio-card-3 {
        width: 300px;
    }
    .portfolio-card-4 {
        width: 300px;
    }
    .portfolio-card-5 {
        width: 300px;
    }
    .portfolio-card-6 {
        width: 300px;
    }

    .portfolio-wrapper h2 {
        padding-left: 10px;
        font-size: 40px;
    }

    .card {
        padding: 40px 15px;
    }

    .about-us-img {
        max-width: 270px;
        padding-right: 20px;
    }

    .advantages-wrapper-text {
        width: 85%;
    }

    .team-case-image img{
        max-width: 300px;
    }

    .team-case-wrapper {
        width: 300px;
        padding: 0px;
        margin: 0px auto;
    }

    .team-case {
        margin-right: 0px;
    }

    .advantages-title {
        font-size: 35px;
    }

    .advantages-description {
        padding-left: 10px;
    }

}

@media (max-width: 320px) {

    .faq-info-button {
        width: 55px;
        height: 25px;
    }

    .card-button {
        width: 235px;
        margin: inherit;
    }

}

